<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/front/fragment/frontHeader.html :: frontHeader}">
</head>
<body>
<!-- Navigation-->
<nav th:replace="~{/front/fragment/frontNav.html :: frontNav}">
</nav>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../../js/front/scripts.js"></script>
<script th:inline="javascript">

</script>
</body>
<!-- Footer-->
<footer th:replace="~{/front/fragment/frontFooter.html :: frontFooter}">
</footer>
</html>
