<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragment/adminHeader.html :: adminHeader">
</head>
<body class="sb-nav-fixed">
<nav th:replace="/admin/fragment/adminTop.html :: adminTop"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav th:replace="/admin/fragment/adminSide.html :: adminSide"></nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                            <div class="card-body">
                                <form th:object="${managerForm}" method="post" th:action="@{/admin/manager/edit/{managerId}(managerId=${managerForm.managerId})}">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="loginId" th:field="*{loginId}" type="text" placeholder="Enter your first name" />
                                                <label for="loginId">로그인 아이디</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" id="password" th:field="*{password}" type="password" />
                                                <label for="password">비밀번호</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="username" th:field="*{username}" type="text" />
                                                <label for="username">이름</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="email" th:field="*{email}" type="email" placeholder="name@example.com" />
                                                <label for="email">이메일</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="companyName" th:field="*{companyName}" type="text"  />
                                                <label for="companyName">회사명</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" id="companyNum" th:field="*{companyNum}" type="text" />
                                                <label for="companyNum">회사전화번호</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="post" th:field="*{post}" type="text" />
                                                <label for="post">회사우편번호</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" id="address" th:field="*{address}" type="text" />
                                                <label for="address">회사주소</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="detailAddress" th:field="*{detailAddress}" type="text" />
                                                <label for="detailAddress">회사상세주소</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" id="ceoName" th:field="*{ceoName}" type="text" />
                                                <label for="ceoName">대표자명</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="businessResistNum" th:field="*{businessResistNum}" type="text" />
                                                <label for="businessResistNum">사업자등록번호</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" id="chargeName" th:field="*{chargeName}" type="text" />
                                                <label for="chargeName">담당자명</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="chargePosition" th:field="*{chargePosition}" type="text" />
                                                <label for="chargePosition">담당자직위</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" id="chargeNum" th:field="*{chargeNum}" type="text" />
                                                <label for="chargeNum">담당자번호</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="chargeMobile" th:field="*{chargeMobile}" type="text" />
                                                <label for="chargeMobile">담당자휴대전화</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" id="feePolicyPercent" th:field="*{feePolicyPercent}" type="text" />
                                                <label for="feePolicyPercent">수수료(%)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <select class="form-control" name="deliveryPolicy" id="deliveryPolicy">
                                                    <option th:each="deliveryPolicy : ${T(shop.soccerUniform.entity.enumtype.DeliveryPolicy).values}"
                                                            th:value="${deliveryPolicy}"
                                                            th:text="${deliveryPolicy}"
                                                            th:selected="${deliveryPolicy} == ${managerForm.state}">등급</option>
                                                </select>
                                                <label for="deliveryPolicy">배송정책</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <select class="form-control" name="state" id="state">
                                                    <option th:each="userState : ${T(shop.soccerUniform.entity.enumtype.UserState).values}"
                                                            th:value="${userState}"
                                                            th:text="${userState}"
                                                            th:selected="${userState} == ${managerForm.state}">등급</option>
                                                </select>
                                                <label for="state">상태</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" class="btn btn-warning" value="수정" />
                                            &nbsp;
                                            <a class="btn btn-secondary" href="/admin/managers">목록</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="/admin/fragment/adminFooter.html :: adminFooter"></footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../../js/admin/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="../../js/admin/datatables-simple-demo.js"></script>
<script th:inline="javascript">
            /*<![CDATA[*/
	        function detailmanager(id) {
	            location.href = '/admin/manager/' + id;
	        }
	        /*]]>*/
        </script>
</body>
</html>
