<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="frontNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">Replica</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">새 소식</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/notices">공지사항</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/qna">Q&A</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a class="nav-link dropdown-toggle" id="myPageDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
          <ul class="dropdown-menu" aria-labelledby="myPageDropdown">
            <li><a class="dropdown-item" th:href="@{/member/myPage}">마이페이지</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/member/deletedMember">회원탈퇴</a></li>
          </ul>
        </li>
      </ul>

        <button class="btn btn-outline-primary" type="button" sec:authorize="!isAuthenticated()" th:onclick="|location.href='/loginForm'|">
          <i class="box-arrow-in-right"></i>
          로그인
        </button>
        &nbsp;
        <button class="btn btn-outline-danger" type="button" sec:authorize="isAuthenticated()" th:onclick="|location.href='/logout'|">
          <i class="box-arrow-right"></i>
          로그아웃
        </button>
        &nbsp;
        <button class="btn btn-outline-dark" type="submit" sec:authorize="isAuthenticated()">
          <i class="bi-cart-fill me-1"></i>
          장바구니
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>

    </div>
  </div>
</nav>
</body>
</html>