<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/front/fragment/frontHeader.html :: frontHeader}"></head>
<body>
<nav th:replace="~{/front/fragment/frontNav.html :: frontNav}"></nav>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h3>공지사항</h3>
        <hr>
        <form action="/notices" th:object="${boardSearchForm}" method="get">
            <div class="col-auto">
                <label for="limit" class="col-form-label">개수</label>
            </div>
            <select class="form-select form-select-sm col-auto" id="limit" th:field="*{limit}" style="width:70px;">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" th:field="*{searchKey}" style="width:100px;">
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="writer">작성자</option>
            </select>
            <input type="text" th:field="*{searchValue}" />
            <input type="submit">
        </form>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th class="th-sm">글번호</th>
                        <th class="th-sm">제목</th>
                        <th class="th-sm">작성자</th>
                        <th class="th-sm">게시날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="notice : ${notices}" th:if="${#lists.size(notices) > 0}">
                        <td th:text="${notice.rowNum}">rowNum</td>
                        <td th:text="${notice.title}">title</td>
                        <td th:text="${notice.writer}">writer</td>
                        <td th:text="${notice.regDate}">regDate</td>
                    </tr>
                    <tr th:unless="${#lists.size(notices) > 0}">
                        <td colspan="4">조회된 데이터가 없습니다.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
<footer th:replace="/front/fragment/frontFooter.html :: frontFooter"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../../js/front/scripts.js"></script>
</html>