<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/front/fragment/frontHeader.html :: frontHeader}"></head>
<body>
<nav th:replace="~{/front/fragment/frontNav.html :: frontNav}"></nav>
<div id="layoutError">
  <div id="layoutError_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="text-center mt-4">
              <h4>회원 탈퇴</h4>
              <p>회원 탈퇴 하시겠습니까?</p>
              <form action="/member/deleteMember/">
                <input type="hidden" name="memberId" />
                <input type="hidden" name="state" th:value="#{T(shop.soccerUniform.entity.enumtype.UserState).DISABLE}" />
                <input type="submit" value="회원탈퇴">
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutError_footer">
    <footer th:replace="/front/fragment/frontFooter.html :: frontFooter"></footer>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../../js/front/scripts.js"></script>
</body>
</html>
