<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragment/adminHeader.html :: adminHeader">
</head>
<body class="sb-nav-fixed">
<nav th:replace="/admin/fragment/adminTop.html :: adminTop"></nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav th:replace="/admin/fragment/adminSide.html :: adminSide"></nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header"><h3 class="text-center font-weight-light my-4">상품등록</h3></div>
              <div class="card-body">
                <form th:object="${itemSaveForm}" method="post" th:action="@{/admin/item/register}">
                  <input type="hidden" name="strList[]" value="123" />
                  <input type="hidden" name="strList[]" value="1234" />
                  <input type="hidden" name="strList[]" value="1235" />
                  <input type="hidden" name="strList[]" value="1236" />
                  <div class="row mb-3" th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                      글로벌 에러
                    </p>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="name" th:field="*{name}" th:errorclass="field-error" type="text" />
                        <label for="name">상품명</label>
                        <div class="field-error" th:errors="*{name}">상품명에러</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input class="form-control" id="price" th:field="*{price}" th:errorclass="field-error" type="number" />
                        <label for="price">가격</label>
                        <div class="field-error" th:errors="*{price}">가격에러</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="origin" th:field="*{origin}" th:errorclass="field-error" type="text" />
                        <label for="origin">원산지</label>
                        <div class="field-error" th:errors="*{origin}">원산지에러</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input class="form-control" id="manufacturer" th:field="*{manufacturer}" th:errorclass="field-error" type="text" />
                        <label for="manufacturer">제조사</label>
                        <div class="field-error" th:errors="*{manufacturer}">제조사에러</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <div class="form-floating mb-3 mb-md-0">
                        <select class="form-control" id="managerId" name="managerId" th:field="*{managerId}" th:errorclass="field-error">
                          <option th:each="manager : ${managers}"
                                  th:value="${manager.id}"
                                  th:text="${manager.username}">입점업체</option>
                        </select>
                        <label for="managerId">입점업체</label>
                        <div class="field-error" th:errors="*{managerId}">입접업체에러</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <select class="form-control" id="categoryId" th:field="*{categoryId}" th:errorclass="field-error">
                          <option value="0" >선택해주세요</option>
                          <option th:each="category : ${categories}"
                                  th:value="${category.id}"
                                  th:text="${category.description}">카테고리</option>
                        </select>
                        <label for="categoryId">카테고리</label>
                        <div class="field-error" th:errors="*{categoryId}">카테고리에러</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <div class="form-floating mb-3 mb-md-0">
                        <select class="form-control" id="optionType" name="optionType" th:field="*{optionType}" th:errorclass="field-error" onchange="changeOptionType(this.value)">
                          <option value="">선택해주세요</option>
                          <option th:each="optionType : ${T(shop.soccerUniform.entity.enumtype.OptionType).values}"
                                  th:text="${optionType}"
                                  th:value="${optionType}">옵션타입</option>
                        </select>
                        <label for="optionType">옵션타입</label>
                        <div class="field-error" th:errors="*{optionType}">옵션타입에러</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <select class="form-control" id="state" name="state" th:field="*{state}" th:errorclass="field-error">
                          <option th:each="itemState : ${T(shop.soccerUniform.entity.enumtype.ItemState).values}"
                                  th:text="${itemState}"
                                  th:value="${itemState}">상태</option>
                        </select>
                        <label for="state">상태</label>
                        <div class="field-error" th:errors="*{state}">상태에러</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3 option-name">
                    <div class="col-md-6" id="optionName1" th:style="${#strings.isEmpty(itemSaveForm.firstOptionName) ? 'display:none' : 'display:block'}" >
                      <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="firstOptionName" th:field="*{firstOptionName}" type="text" />
                        <label for="firstOptionName">옵션1명</label>
                      </div>
                    </div>
                    <div class="col-md-6" style="display:none;" id="optionName2" th:style="${#strings.isEmpty(itemSaveForm.secondOptionName) ? 'display:none' : 'display:block'}">
                      <div class="form-floating">
                        <input class="form-control" id="secondOptionName" th:field="*{secondOptionName}" type="text" />
                        <label for="secondOptionName">옵션2명</label>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3 option-name" id="firstOptionValues" th:style="${#strings.isEmpty(itemSaveForm.option1Values) ? 'display:none' : 'display:block'}">
                    <div class="field-error">옵션값을 입력하실 때 따옴표를 기준으로 입력해주세요. 예) 옵션값,옵션값,옵션값</div>
                    <div class="col-md-12">
                      <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="option1Values" th:field="*{option1Values}" type="text" />
                        <label for="option1Values">옵션1 옵션값</label>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3 option-name" id="secondOptionValues" th:style="${#strings.isEmpty(itemSaveForm.option2Values) ? 'display:none' : 'display:block'}">
                    <div class="col-md-12">
                      <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="option2Values" th:field="*{option2Values}" type="text" />
                        <label for="option2Values">옵션2 옵션값</label>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 mb-0" id="applyOption" th:style="${#strings.isEmpty(itemSaveForm.option1Values) ? 'display:none' : 'display:block'}">
                    <div class="d-flex justify-content-center">
                      <input type="button" class="btn btn-success form-control" value="옵션 적용하기" onclick="applyOption();" />
                    </div>
                  </div>
                  &nbsp;
                  <div class="list-group" id="stock-list" style="display:none;">
                    <li class="list-group-item">
                      <div class="col-md-2 inline-block-text-center">옵션명1</div>
                      <div class="col-md-2 inline-block-text-center">옵션값</div>
                      <div class="col-md-2 inline-block-text-center">옵션명2</div>
                      <div class="col-md-2 inline-block-text-center">옵션값</div>
                      <div class="col-md-2 inline-block-text-center">수량</div>
                    </li>
                  </div>
                  <div class="mt-4 mb-0">
                    <div class="d-flex justify-content-center">
                      <input type="submit" class="btn btn-warning" value="등록" />
                      &nbsp;
                      <a class="btn btn-secondary" href="/admin/items">목록</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer th:replace="/admin/fragment/adminFooter.html :: adminFooter"></footer>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../../js/admin/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="../../js/admin/datatables-simple-demo.js"></script>
<script th:inline="javascript">
function changeOptionType(optionType) {
  $('#optionName1').hide();
  $('#optionName2').hide();
  $('#firstOptionValues').hide();
  $('#secondOptionValues').hide();
  $('#applyOption').hide();
  $('#stock-list').hide();

  if(optionType == 'SINGLE') {
    $('#optionName1').show();
    $('#optionName2').hide();
    $('#firstOptionValues').show();
    $('#secondOptionValues').hide();
    $('#applyOption').show();
    $('#stock-list').show();
  }

  if(optionType == 'DOUBLE') {
    $('#optionName1').show();
    $('#optionName2').show();
    $('#firstOptionValues').show();
    $('#secondOptionValues').show();
    $('#applyOption').show();
    $('#stock-list').show();
  }
}

function applyOption() {
  if($('#firstOptionName').val() == '') {
    alert('옵션명1을 확인해주세요.');
    return false;
  }

  if($('#option1Values').val() == '' || $('#option1Values').val().indexOf(',') == -1) {
    alert('옵션1 옵션값을 확인해주세요.');
    return false;
  }
  let optionType = $('#optionType').val();
  let option1Values = $('#option1Values').val().split(',');
  let option2Values = $('#option2Values').val().split(',');
  let optionName1 = $('#firstOptionName').val();

  if(optionType == 'SINGLE') {
    $('.list-group-item-info').remove();
    for(let i = 0; i < option1Values.length; i++) {
      if(option1Values[i] != '') {
        $('#stock-list').show();
        let first = i+1;

        let option1NameDiv = document.createElement('div');
        option1NameDiv.innerHTML = optionName1;
        option1NameDiv.className = 'col-md-2 inline-block-text-center';

        let option1ValueDiv = document.createElement('div');
        option1ValueDiv.innerHTML = option1Values[i];
        option1ValueDiv.className = 'col-md-2 inline-block-text-center';

        let option2NameDiv = document.createElement('div');
        option2NameDiv.className = 'col-md-2 inline-block-text-center';

        let option2ValueDiv = document.createElement('div');
        option2ValueDiv.className = 'col-md-2 inline-block-text-center';

        let stockDiv = document.createElement('div');
        stockDiv.className = 'col-md-2 inline-block-text-center';

        let stockInput = document.createElement('input');
        stockInput.value = '1';
        stockInput.id = 'stock_' + first + '_0';
        stockInput.className = 'input-inline-block form-control';
        stockInput.type = 'number';
        stockInput.style = 'height:25px;width:70px';
        stockInput.onkeyup = function() {stockOnChange(first, 0);};
        stockDiv.appendChild(stockInput);

        let hiddenSort = document.createElement('input');
        hiddenSort.id = 'sort_' + first + '_0';
        hiddenSort.type = 'hidden';
        hiddenSort.name = 'itemStocks[' + i + '].sort';
        hiddenSort.value = first + '_0';

        let hiddenStock = document.createElement('input');
        hiddenStock.id = 'stocks_' + first + '_0';
        hiddenStock.type = 'hidden';
        hiddenStock.name = 'itemStocks[' + i + '].stock';
        hiddenStock.value = '1';

        let hiddenDesc = document.createElement('input');
        hiddenDesc.id = 'desc_' + first + '_0';
        hiddenDesc.type = 'hidden';
        hiddenDesc.name = 'itemStocks[' + i + '].description';
        hiddenDesc.value = optionName1 + ' : ' + option1Values[i];

        let liTag = document.createElement('li');
        liTag.className = 'list-group-item list-group-item-info';
        liTag.append(option1NameDiv);
        liTag.append(option1ValueDiv);
        liTag.append(option2NameDiv);
        liTag.append(option2ValueDiv);
        liTag.append(stockDiv);
        liTag.append(hiddenSort);
        liTag.append(hiddenStock);
        liTag.append(hiddenDesc);

        $('#stock-list').append(liTag);
      }
    }
  }

  if(optionType == 'DOUBLE') {
    if($('#firstOptionName').val() == '') {
      alert('옵션명1을 확인해주세요.');
      return false;
    }

    if($('#option2Values').val() == '' || $('#option2Values').val().indexOf(',') == -1) {
      alert('옵션2 옵션값을 확인해주세요.');
      return false;
    }
    $('.list-group-item-info').remove();

    let optionName2 = $('#secondOptionName').val();
    for(let i = 0; i < option1Values.length; i++) {
      for(let k = 0; k < option2Values.length; k++) {
        if(option1Values[i] != '' && option2Values[k] != '') {
          $('#stock-list').show();
          let first = i+1;
          let second = k+1;

          let option1NameDiv = document.createElement('div');
          option1NameDiv.innerHTML = optionName1;
          option1NameDiv.className = 'col-md-2 inline-block-text-center';

          let option1ValueDiv = document.createElement('div');
          option1ValueDiv.innerHTML = option1Values[i];
          option1ValueDiv.className = 'col-md-2 inline-block-text-center';

          let option2NameDiv = document.createElement('div');
          option2NameDiv.innerHTML = optionName2
          option2NameDiv.className = 'col-md-2 inline-block-text-center';

          let option2ValueDiv = document.createElement('div');
          option2ValueDiv.innerHTML = option2Values[k];
          option2ValueDiv.className = 'col-md-2 inline-block-text-center';

          let stockDiv = document.createElement('div');
          stockDiv.className = 'col-md-2 inline-block-text-center';

          let stockInput = document.createElement('input');
          stockInput.value = '1';
          stockInput.id = 'stock_' + first + '_' + second;
          stockInput.className = 'input-inline-block form-control';
          stockInput.type = 'number';
          stockInput.style = 'height:25px;width:70px';
          stockInput.onkeyup = function(){stockOnChange(first, second);};
          stockDiv.appendChild(stockInput);

          let hiddenSort = document.createElement('input');
          hiddenSort.id = 'sort_' + first + '_' + second;
          hiddenSort.type = 'hidden';
          hiddenSort.name = 'itemStocks[' + (i * option2Values.length + k) + '].sort';
          hiddenSort.value = first + '_' + second;

          let hiddenStock = document.createElement('input');
          hiddenStock.id = 'stocks_' + first + '_' + second;
          hiddenStock.type = 'hidden';
          hiddenStock.name = 'itemStocks[' + (i * option2Values.length + k) + '].stock';
          hiddenStock.value = '1';

          let hiddenDesc = document.createElement('input');
          hiddenDesc.id = 'desc_' + first + '_' + second;
          hiddenDesc.type = 'hidden';
          hiddenDesc.name = 'itemStocks[' + (i * option2Values.length + k) + '].description';
          hiddenDesc.value = optionName1 + " : " + option1Values[i] + " | " + optionName2 + " : " + option2Values[i];

          let liTag = document.createElement('li');
          liTag.className = 'list-group-item list-group-item-info';
          liTag.append(option1NameDiv);
          liTag.append(option1ValueDiv);
          liTag.append(option2NameDiv);
          liTag.append(option2ValueDiv);
          liTag.append(stockDiv);
          liTag.append(hiddenSort);
          liTag.append(hiddenStock);
          liTag.append(hiddenDesc);

          $('#stock-list').append(liTag);
        }
      }
    }
  }
}

function stockOnChange(first, second) {
  let itemStocksId = first + '_' + second;
  let stock = $('#' + 'stock_' + itemStocksId).val();
  $('#' + 'stocks_' + itemStocksId).val(stock);
}
</script>
</body>
</html>

